*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn-choice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}